@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700&display=swap');

html{
    scroll-behavior: smooth
}
body {
  background-color: #faebd7;
  font-family: 'Lato', sans-serif;
}
nav , #nav{
  display: inline-block;
  width: 15%;
  position: relative;
  vertical-align: top;
  padding: 1rem;
}


nav a ,#nav{
  display: block;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.068);
  color: black;
  font-size: large;
  line-height: 3rem;
}

/* mouse over link */
nav a:hover, #nav:hover {
  background-color: wheat;
}

/* selected link */
nav a:active, #nav:active {
  background-color: rgba(224, 167, 62, 0.302);
}

section {
  display: inline-block;
  padding: 2em;
  width: 75%;
  vertical-align: top;
}

h1,h2{
  text-align: center;
}

#pupin {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 2rem;
}

#pupin-1916{
  max-width: 20%;
  padding: 1rem;
  display: inline-block;
}
.text{
  max-width: 75%;
  display: inline-block;
  position: relative;
  
}


/* table formatting */
table {
    background-color:#E3CEB8;
    position: relative;
    align-self: center;
    position: 50%;
    
}
th,td {
  border: solid 1px #e6e6e6;
}

.odd{
    background-color: #FFE5CF;
}

thead{
    font-weight: bold;
    font-size: 1.2rem;
}
/* table formatting */
